/* demo site 
background color: #fcfca
color: #2b2b2b


a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: #07ABA0;
}

a:active {
  color: #FF6C5C;
}

a:visited {
  color: #AE7C5B;
}

a:hover {
  color: #27CBC0;
}

  font-family: 'Playfair Display', serif;



*/


@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  background-color: #fcfcfa;
  color: #2b2b2b;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  line-height: 1.2em;
}

/*main body*/

#container {
  max-width:100%;
  margin: 0 auto; 
}

/*images*/
img {
  max-width: 100%;  
}

/*links*/

a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: #07ABA0;
}

a:active {
  color: #FF6C5C;
}

a:visited {
  color: #AE7C5B;
}

a:hover {
  color: #27CBC0;
}
