/* demo site 
font: Source Sans Pro
background color: #fcfca
color: #2b2b2b
by: nicole oyama

a {
  outline: none;
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #27CBC0;
}

a:active {
  color: #106B60;
}

a:visited {
  color: #FF926B;
}

a:hover {
  color: #606060;
}
*/

 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fcfcfa;
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.2em;
  
}

/*main body*/

#container {
  max-width:1000px;
  margin: 0 auto; 
}

/*images*/
img {
  max-width: 100%;  
}

/*links*/

a {
  outline: none;
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #27CBC0;
}

a:active {
  color: #106B60;
}

a:visited {
  color: #FF926B;
}

a:hover {
  color: #606060;
}
