/* demo site 
background color: #fcfca
color: #2b2b2b

a:link:
a:visited:
a:hover:
a:active:

font-family: 'Open Sans', sans-serif;
font-family: 'Noto Serif', serif;


*/


@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans&display=swap');


body {
  background-color: #fcfcfa;
  color: #2b2b2b;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Serif', serif;
  font-size: 1em;
  line-height: 1.2em;
}

.container {
  /* Photo by mnm.all on Unsplash */
  background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
